// [data-theme="dark"] {
//     --bg: #000;
//     --text: #fff;
// }

:root {
    //dark-theme
    --bg-primary: rgb(26, 22, 22);
    --bg-secondary: rgba(54, 54, 54, 0.696);
    --bg-ui: rgb(185, 7, 90);
    --border-ui: rgb(22, 181, 255);

    //hover
    --border-ui-hov: rgb(11, 11, 11);
    --text-ui-hov: #E4026F;
    --bg-ui-hov: rgba(23, 189, 183, 0.7);

    --text-col-primary: rgb(73, 200, 255);
    --text-col-secondary: rgba(238, 231, 36, 0.6);
}