.center-content {
    padding: 0 10px;
    width: 90%;
    margin: 0 auto;

    @media (min-width: 768px) {
        padding: 0 20px;
    }

    @media (min-width: 1024px) {
        padding: 0 40px;
    }

    @media (min-width: 1280px) {
        padding: 0 60px;
    }

    @media (min-width: 1440px) {
        padding: 0 120px;
    }

    @media (min-width: 1920px) {
        padding: 0 240px;
        width: 100%;
    max-width: 1560px;
    padding: 20px 0;
    margin: 0 auto;
    }
}

.el-visible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    @media (min-width: 768px) {
        opacity: 1;
        visibility: visible;
    }
}

 