.dark {
    --bg-color: hsl(0, 0%, 14%);
    --surface: rgba(151, 142, 142, 0.937);
    --text-primary: rgb(237, 30, 30);
    --bg-ui: rgb(248, 234, 241);
    --text-ui: rgba(46, 43, 43, 0.9);
    --border-ui: rgb(22, 181, 255);
    --border-ui-hov: rgb(226, 8, 8);
    --text-ui-hov: rgb(228, 2, 111, 0.9);
    --bg-ui-hov: rgba(23, 189, 183, 0.7);
    --glass-bg: rgba(0, 0, 0, 0.4);
    --glass-border: rgba(255, 255, 255, 0.1)
}
