.app-header,
.app-footer {
    width: 100%;
    min-height: 2rem;
}

.app-header,
.app-footer,
.dark {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.app-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.section{
    padding: 40px 0;
}

html,
.dark {
    background-color: var(--bg-color);
    color: var(--text-primary);
}
