html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

}

.title-section {
    color: var(--title-col);
}

.app-header,
.app-footer {
    max-width: 100%;
    box-shadow: var(--shadow-base);
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.app-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.section {
    padding: 40px 0;
}