@forward '../utils/worker';
@forward '../themes/_dark';


.app-header,
.app-footer {
    width: 100%;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.app-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.section{
    padding: 40px 0;
}
