[data-theme='dark'] {
    --bkg: #0f0f0f;
    --surface: #1c1c1c;
    --text-primary: #f0f0f0;
    --title-col: oklab(0.83 -0.4 0.12 / 1);
    --text-secondary: #a5a5a5;
    --border: #3f215d52;
    --color-accent: #818cf8;
    --shadow-base: 0 4px 12px rgba(0, 0, 0, 0.767);
}