[data-theme='light'] {
    --primary: #2563eb;
    --secondary: #4f46e5;
    --accent: #ec4849;
    --success: #22c55e; 
    --info: #3b82f6;
    --bkg: #ffffff;
    --surface: #f8fafc;
    --text-primary: #0f172a;
    --text-secondary: #64748b;
    --border: #e2e8f0;
    
}