[data-theme='light'] {
    --bkg: #ffffff;
    --surface: #f5f5f5;
    --text-primary: #0f172a;
    --text-secondary: #64748b;
    --primary: #1e1e1e;
    --secondary: #4b4b4b;
    --accent: #ec4849;

    --success: #22c55e;
    --info: #3b82f6;
    --border: #e0e0e09f;
    --shadow-base: -2px 5px 10px 6px rgba(0, 0, 0, 0.444);
    --transition-base: 0.2s ease-in-out;
    --light-icon: #0be6af;
}