.center-content {
    min-width: 20rem;
    /* sm:min-w-80 */
    max-width: 24rem;
    /* sm:max-w-96 */
    padding-left: 0.75rem;
    /* px-3 */
    padding-right: 0.75rem;
    /* px-3 */
    width: 91.666667%;
    /* md:w-11/12 */
    margin: auto;
    max-width: 80rem;
    /* lg:max-w-7xl */
}